* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;
    --font-heading: sen, sans-serif;
    --text-color: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    color: var(--text-color);
}

/* ======== Common ======== */
a {
    text-decoration: none;
    color: var(--text-color);
}

button {
    border: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.heading {
    color: #171100;
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.116rem;
}

.heading.lv1 {
    font-size: 5.8rem;
    line-height: 1.17; /* 117.241% */
}

.heading.lv2 {
    font-size: 3.8rem;
    line-height: 1.26; /* 126.316% */
}

.desc {
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.btn {
    display: inline-block;
    padding: 0 16px;
    min-width: 118px;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 175% */
    border-radius: 999px;
    background: #171100;
}

.btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ======== Header ======== */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    z-index: 1;
    top: -28px;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .logo {
    cursor: pointer;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    padding: 8px 21px;
    text-align: center;
    font-size: 1.6rem;
}

.nav a:hover,
.nav .active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav .active a::after {
    position: absolute;
    content: "";
    display: block;
    left: 21px;
    bottom: 6px;
    border-radius: 1px;
    background: #171100;
    width: 12px;
    height: 2px;
}

.header .sign-up-btn {
    min-width: 144px;
    margin-left: 49px;
}

/* ======== Hero ======== */
.hero {
    padding: 56px 0 64px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .media-block {
    position: relative;
    width: 48%;
}

.hero .media-block .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .hero-summary {
    position: absolute;
    right: 0;
    bottom: 48px;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
    display: flex;
    align-items: center;
}

.hero .hero-summary .item + .item {
    margin-top: 22px;
}

.hero .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff9e8;
}

.hero-summary .info {
    margin-left: 16px;
}

.hero-summary .info .label {
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
}

.hero-summary .info .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .content-block {
    padding-left: 130px;
    width: 52%;
}

.hero .content-block .desc {
    margin-top: 22px;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.hero-cta {
    min-width: 180px;
    background: var(--primary-color);
}

.hero .watch-video {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    margin-left: 28px;
    cursor: pointer;
}

.hero .watch-video:hover {
    opacity: 0.8;
}

.hero .watch-video .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
    margin-left: 14px;
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.hero .stats {
    margin-left: -28px;
}

.hero .stats strong {
    margin: 8px 8px 0 28px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22; /* 122.727% */
}

/* ======== Popular ======== */

.popular {
    padding: 65px 0;
    margin-top: 135px;
}

.popular .course-item .rating,
.popular .course-item .foot,
.popular .course-item .head,
.popular .popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    width: 458px;
    margin-top: 16px;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background: transparent;
}

.popular-top .control-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.popular .course-list {
    display: flex;
    margin-top: 55px;
    gap: 30px;
}

.popular .course-item {
    flex: 1;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}

.popular .course-item:hover {
    border-color: transparent;
    box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}

.popular .course-item .thumb {
    margin: -1px;
    width: calc(100% + 2px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.popular .course-item .info {
    padding: 16px 22px 22px;
}

.popular .course-item a {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.popular .course-item .value {
    color: #fea31b;
    font-size: 1.6rem;
    line-height: 1.75; /* 175% */
}

.popular .course-item .desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.85; /* 185.714% */
}

.popular .course-item .foot {
    margin-top: 12px;
}

.popular .course-item .price {
    color: #171100;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.popular .course-item .book-btn:hover {
    color: #fff;
    background-color: var(--primary-color);
}
/* ======== Header ======== */

/* ======== Header ======== */

/* ======== Header ======== */
