* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ffb900;

    --text-color: #5f5b53;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
    color: var(--text-color);
}
